/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/index.scss ***!
  \******************************************************************/
html {
    background-color: #15191D;
    color: #DCDCDC;
}

body {
    font-family: Courier, Monospace;
}

/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/main.scss ***!
  \*****************************************************************/

